FLASK_ENV=development
SECRET_KEY=
JWT_SECRET_KEY=
DATABASE_URL=sqlite+aiosqlite:///app.db
CACHE_TYPE=SimpleCache
CORS_ORIGINS=*
MAIL_SERVER=
MAIL_PORT=25
MAIL_USE_TLS=false
MAIL_USERNAME=
MAIL_PASSWORD=
